@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.main{
    display: grid;
    place-content: center;
}
.Accordion{

    background-color: rgb(217, 217, 217);
    width: fit-content ;

}

.title-container{
    width: 200px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.description{
    /* background-color: #3c393953; */
    word-wrap: break-word;
    width: inherit;
    padding:20px;
}
.acc-container{
    width: 200px;
    display: flex;
    flex-direction: column;
    transition: width 2s, height 4s;
}